In [249]:
%run ../../processed/myfuncs.ipynb

In [250]:
df = gpd.read_file('output/df_zall.gpkg')#.to_crs(epsg=7415)
print(len(df))
df.head()

73

,gid,h_dak_min,h_dak_50p,h_dak_70p,h_dak_max,tile_id,construction_year,h_maaiveld,intersection_cnt,idw_100m,g_diff,r_50th,r50p50,bh_real,bh,bh_diff,geometry
0,11985008,1.2800,6.9551,7.0083,8.3438,646,2018,0.377,4,-0.1099,0.4869,6.9969,0.0418,6.5781,7.1068,0.5287,"MULTIPOLYGON (((253534.502 576874.344, 253533...."
1,11985087,-0.7194,1.7421,1.9457,2.3112,646,2009,-0.778,7,-1.0722,0.2942,2.2928,0.5507,2.5201,3.3650,0.8449,"MULTIPOLYGON (((253392.410 575337.339, 253392...."
2,3149890,2.0670,10.2948,10.6660,11.2590,2311,2019,1.704,1,0.4771,1.2269,8.0882,2.2065,8.5908,7.6111,0.9797,"MULTIPOLYGON (((252324.335 575914.840, 252324...."
3,11989276,1.1740,5.1230,5.1836,6.6129,646,2012,1.197,1,1.0488,0.1482,5.2199,0.0968,3.9260,4.1711,0.2450,"MULTIPOLYGON (((254348.343 576548.501, 254348...."
4,11989554,0.8943,3.6225,3.8201,4.4390,646,2012,0.396,12,1.1669,0.7709,4.9229,1.3004,3.2265,3.7560,0.5295,"MULTIPOLYGON (((253309.034 576061.008, 253309...."

In [251]:
df = explode_mutilpolygon(df)
df.head()

,gid,h_dak_min,h_dak_50p,h_dak_70p,h_dak_max,tile_id,construction_year,h_maaiveld,intersection_cnt,idw_100m,g_diff,r_50th,r50p50,bh_real,bh,bh_diff,geometry
0,11985008,1.2800,6.9551,7.0083,8.3438,646,2018,0.377,4,-0.1099,0.4869,6.9969,0.0418,6.5781,7.1068,0.5287,"POLYGON ((253534.502 576874.344, 253533.631 57..."
1,11985087,-0.7194,1.7421,1.9457,2.3112,646,2009,-0.778,7,-1.0722,0.2942,2.2928,0.5507,2.5201,3.3650,0.8449,"POLYGON ((253392.410 575337.339, 253392.622 57..."
2,3149890,2.0670,10.2948,10.6660,11.2590,2311,2019,1.704,1,0.4771,1.2269,8.0882,2.2065,8.5908,7.6111,0.9797,"POLYGON ((252324.335 575914.840, 252324.351 57..."
3,11989276,1.1740,5.1230,5.1836,6.6129,646,2012,1.197,1,1.0488,0.1482,5.2199,0.0968,3.9260,4.1711,0.2450,"POLYGON ((254348.343 576548.501, 254348.332 57..."
4,11989554,0.8943,3.6225,3.8201,4.4390,646,2012,0.396,12,1.1669,0.7709,4.9229,1.3004,3.2265,3.7560,0.5295,"POLYGON ((253309.034 576061.008, 253309.957 57..."

In [4]:
df_pts432 = gpd.read_file('output/icesat_c432.gpkg')#.to_crs(epsg=7415)
print(len(df_pts432))
df_pts432.head()

86286

,x,y,z,t,confidence,track,power,geometry
0,254071.326387,578582.206190,3.009821,2018-11-09T02:04:49,4,gt1r,strong,POINT Z (254071.326 578582.206 3.010)
1,254063.906737,578494.435303,14.250419,2018-11-09T02:04:49,2,gt1r,strong,POINT Z (254063.907 578494.435 14.250)
2,254060.782652,578454.799000,2.422196,2018-11-09T02:04:49,4,gt1r,strong,POINT Z (254060.783 578454.799 2.422)
3,254059.274980,578437.059569,2.030847,2018-11-09T02:04:49,4,gt1r,strong,POINT Z (254059.275 578437.060 2.031)
4,254059.095300,578434.931556,1.914078,2018-11-09T02:04:49,4,gt1r,strong,POINT Z (254059.095 578434.932 1.914)

In [5]:
df_cnt432 = gpd.read_file('output/df_cnt432.gpkg')
print(len(df_cnt432))
df_cnt432.head()

107

,gid,h_dak_min,h_dak_50p,h_dak_70p,h_dak_max,tile_id,construction_year,h_maaiveld,intersection_cnt,geometry
0,11985008,1.279962,6.955098,7.008342,8.343763,646,2018,0.377,4,"MULTIPOLYGON (((253534.502 576874.344, 253533...."
1,11985087,-0.719438,1.742089,1.945698,2.311170,646,2009,-0.778,7,"MULTIPOLYGON (((253392.410 575337.339, 253392...."
2,3149890,2.067034,10.294793,10.665979,11.259021,2311,2019,1.704,1,"MULTIPOLYGON (((252324.335 575914.840, 252324...."
3,11989276,1.173986,5.123024,5.183640,6.612879,646,2012,1.197,1,"MULTIPOLYGON (((254348.343 576548.501, 254348...."
4,11989346,0.865801,4.903423,6.291296,8.825522,646,2013,0.825,1,"MULTIPOLYGON (((253855.079 575884.110, 253855...."

In [133]:
geo1 = df['geometry'][12]
geo1

In [180]:
geo2 = df['geometry'][0]
geo2

In [176]:
len(rdp(np.array(list(geo1.exterior.coords)), epsilon=1.0))-1

8

In [252]:
df = cal_features(df)

In [254]:
df.head()

,gid,h_dak_min,h_dak_50p,h_dak_70p,h_dak_max,tile_id,construction_year,h_maaiveld,intersection_cnt,idw_100m,...,geometry,area,compactness,complexity,length,width,slimness,adjacent_buildings,vertices,neighbour
0,11985008,1.2800,6.9551,7.0083,8.3438,646,2018,0.377,4,-0.1099,...,"POLYGON ((253534.502 576874.344, 253533.631 57...",1521.786562,0.752551,29.421015,56.349624,35.566302,1.584354,1,15,1
1,11985087,-0.7194,1.7421,1.9457,2.3112,646,2009,-0.778,7,-1.0722,...,"POLYGON ((253392.410 575337.339, 253392.622 57...",47.291934,0.883274,10.524610,7.463061,6.337454,1.177612,1,4,2
2,3149890,2.0670,10.2948,10.6660,11.2590,2311,2019,1.704,1,0.4771,...,"POLYGON ((252324.335 575914.840, 252324.351 57...",203.275737,0.887845,15.076102,15.072088,13.814207,1.091057,1,4,2
3,11989276,1.1740,5.1230,5.1836,6.6129,646,2012,1.197,1,1.0488,...,"POLYGON ((254348.343 576548.501, 254348.332 57...",993.337069,0.852034,23.357262,34.162322,31.402529,1.087884,1,6,1
4,11989554,0.8943,3.6225,3.8201,4.4390,646,2012,0.396,12,1.1669,...,"POLYGON ((253309.034 576061.008, 253309.957 57...",55.144200,0.867253,11.138685,9.151336,6.026325,1.518560,1,4,5